In [1]:
import requests
import json
import pandas as pd

In [8]:


# params = {
#   'access_key': '723c40e6815cb714024f78d27a05c328'
    
    
# }

# api_result = requests.get('http://api.aviationstack.com/v1/flights', params)

In [26]:
params = {
  'access_key': '723c40e6815cb714024f78d27a05c328',
    'arr_iata':'SIN'
    
    
}

api_result = requests.get('http://api.aviationstack.com/v1/flights', params)

In [27]:
print(api_result.status_code)

200

In [28]:
api_response = api_result.json()
api_response

In [30]:

flightdata = pd.DataFrame(api_response["data"])
flightdata

In [136]:
dic_flight = pd.DataFrame(columns =["number","iata","icao","codeshared"])

In [151]:
dic_airline = pd.DataFrame(columns =["name","iata","icao"])

In [115]:
dic1 = pd.DataFrame(columns =["airport","timezone","iata","icao","terminal","gate","delay","scheduled","estimated","actual","estimated_runway","actual_runway"])

In [125]:
dic_arrival = pd.DataFrame(columns =["airport","timezone","iata","icao","terminal","gate","delay","scheduled","estimated","actual","estimated_runway","actual_runway"])

In [123]:
# # flightdata['arrival'][0]
# mehmeh = flightdata['arrival'][0]
# dic = pd.DataFrame.from_dict(mehmeh, orient='index')
# dic =  dic.T
# dic

,airport,timezone,iata,icao,terminal,gate,baggage,delay,scheduled,estimated,actual,estimated_runway,actual_runway
0,Singapore Changi,Asia/Singapore,SIN,WSSS,2,None,None,None,2024-03-20T07:00:00+00:00,2024-03-20T07:00:00+00:00,None,None,None

In [116]:
# mehmeh = flightdata['departure'][1]
# dict2 = pd.DataFrame.from_dict(mehmeh, orient='index')
# dic2 =  dict2.T
# dic1 = pd.concat([dic1, dic2])
# dic1

In [144]:
empty_dic = pd.DataFrame()
mehmeh = flightdata['departure'][2]
dict3 = pd.DataFrame.from_dict(mehmeh, orient='index')
dic3 =  dict3.T
empty_dic = pd.concat([empty_dic, dic3])
empty_dic

,airport,timezone,iata,icao,terminal,gate,delay,scheduled,estimated,actual,estimated_runway,actual_runway
0,Melbourne - Tullamarine Airport,Australia/Melbourne,MEL,YMML,2,18,None,2024-03-20T03:25:00+00:00,2024-03-20T03:25:00+00:00,None,None,None

In [119]:

for x in flightdata['departure']:
    
    dict2 = pd.DataFrame.from_dict(x, orient='index')
    dic2 =  dict2.T
    dic1 = pd.concat([dic1, dic2])
    
departure =   dic1.reset_index()

In [126]:

for x in flightdata['arrival']:
    
    dict2 = pd.DataFrame.from_dict(x, orient='index')
    dic2 =  dict2.T
    dic_arrival = pd.concat([dic_arrival, dic2])
    
arrival =   dic_arrival.reset_index()

In [137]:
for x in flightdata['flight']:
    
    dict2 = pd.DataFrame.from_dict(x, orient='index')
    dic2 =  dict2.T
    dic_flight = pd.concat([dic_flight, dic2])
    
flight =   dic_flight.reset_index()

In [152]:
for x in flightdata['airline']:
    
    dict2 = pd.DataFrame.from_dict(x, orient='index')
    dic2 =  dict2.T
    dic_airline = pd.concat([dic_airline, dic2])
    
airline =   dic_airline.reset_index()

In [140]:
departure.columns = ["index","departure_airport","departure_timezone","departure_iata","departure_icao","departure_terminal","departure_gate","departure_delay","departure_scheduled","departure_estimated","departure_actual","departure_estimated_runway","departure_actual_runway"]

In [145]:
arrival.columns = ["index","arrival_airport","arrival_timezone","arrival_iata","arrival_icao","arrival_terminal","arrival_gate","arrival_delay","arrival_scheduled","arrival_estimated","arrival_actual","arrival_estimated_runway","arrival_actual_runway","baggage"]

In [150]:
flight.columns = ["index","flight_no","flight_iata","flight_icao","codeshared"]

In [154]:
airline.columns = ["index","airline_name","airline_iata","airline_icao"]

In [157]:
flightinfo = flightdata[["flight_date","flight_status"]]

In [159]:
departureinfo = departure[["departure_airport","departure_timezone"]]

In [161]:
arrivalinfo = arrival[["arrival_airport","arrival_timezone","arrival_scheduled"]]

In [165]:
airplaneinfo = airline["airline_name"]

In [170]:
dataset = pd.concat([flightinfo,departureinfo, arrivalinfo, airplaneinfo ], axis=1)

In [172]:
dataset.to_csv('plane_data.csv', index=False)

In [31]:
flightdata.columns

Index(['flight_date', 'flight_status', 'departure', 'arrival', 'airline',
       'flight', 'aircraft', 'live'],
      dtype='object')